@model Helper.Models.Entities.TBL_Plans

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section Style{
    <link href="~/SinaCustom/css/StyleSheet.css" rel="stylesheet" />
}


<div class="card">
    <div class="card-body">
        <h6 class="card-title"> فرم  تغییر پنل</h6>
        <form asp-action="Edit" class="needs-validation" novalidate="" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Id" />
            <!-- input -->
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label asp-for="Name" for="validationCustom03"></label>
                    <input asp-for="Name" class="form-control" id="validationCustom03"
                           placeholder="@Html.DisplayNameFor(model => model.Name)">
                    <span asp-validation-for="Name" class="text-danger"> </span>
                </div>
            </div>


            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label asp-for="ServiceCount" for="validationCustom03"></label>
                    <input asp-for="ServiceCount" class="form-control" id="validationCustom03"
                           placeholder="@Html.DisplayNameFor(model => model.ServiceCount)">
                    <span asp-validation-for="ServiceCount" class="text-danger"> </span>
                </div>
            </div>


            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label asp-for="Duration" for="validationCustom03"></label>
                    <input asp-for="Duration" class="form-control" id="validationCustom03"
                           placeholder="@Html.DisplayNameFor(model => model.Duration)">
                    <span asp-validation-for="Duration" class="text-danger"> </span>
                </div>
            </div>


            <hr />
            <hr />
            <h3 class=""> قيمت پول براي هر واحد پول </h3>
            @foreach (var item in Model.PlansMonyUnit)
            {
                <div class="form-row">
                    <div class="col-md-6 mb-3 ">
                        <label for="validationCustom03">@item.MonyName</label>
                        <input value="@item.Price" name="@item.MonyName" type="number" class="form-control" id="validationCustom03"
                               placeholder="قیمت این واحد پول برای این پنل">
                        <span class="text-danger"> </span>
                    </div>
                </div>

            }

            <hr />
            <hr />

            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label asp-for="Description" for="validationCustom03"></label>
                    <textarea asp-for="Description" type="" rows="4" class="form-control _min-height260" id="validationCustom03"
                              placeholder="@Html.DisplayNameFor(model => model.Description)">
                    </textarea>
                    <span asp-validation-for="Description" class="text-danger"> </span>
                </div>
            </div>

            <button type="submit" class="btn btn-success">ارسال</button>
            <a asp-action="Index" class="btn btn-warning">بازگشت به لیست</a>

        </form>

    </div>
</div>


@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>

        //  اعتبارسنجی فرم
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);


    </script>
}
