@model Helper.ViewModels.AccountSettingsVM

@{
    ViewData["Title"] = "Account Settings";
    Layout = "~/Views/Shared/_landing.cshtml";
}



@section Styles{
    <link href="~/lib/swal-alert/sweetalert.css" rel="stylesheet" />
}


<div class="container">
    <div class="row mt-md-5 pt-md-5">
        <div class="col-md-5 col-12 ml-lg-5 order-md-0 order-1 hj-intro-h">
            <div class="row mx-auto">
                <span class="text-justify size-33">
                    <b>
                        @ViewData["CreateServiceText"]
                    </b>
                </span>
            </div>
            <div class="row w-100 mx-auto pt-3 pt-md-2">
                <img src="/hj/img/border-bottom.png" class="img-fluid">
            </div>
            <div class="row mt-3 mx-auto">
                <span class="text-justify hj-intro-text">@ViewData["CreateServiceDescriptions"]</span>
            </div>

        </div>
        <div class="col-md-6 col-12 mr-lg-4 order-md-1 order-0">
            <img src="/hj/img/Group 2665.svg" class="img-fluid" alt="Responsive image">
        </div>

    </div>
</div>


@*--------------------*@


<div class="container mx-auto">
    <!-- Tabs -->
    <section id="tabs">
        <div class="container p-0 m-0">

            <div class="row w-100 mx-auto">
                <div class="col-xs-12 p-0 m-0 ">

                    <nav>

                        <div class="nav nav-tabs nav-fill p-0 m-0 w-100" id="nav-tab" role="tablist">


                            <a class="nav-item nav-link w-25 active" id="nav-Personal-tab" data-toggle="tab" href="#nav-Personal" role="tab" aria-controls="nav-profile" aria-selected="false">    @ViewData["PersonalInformation"]</a>
                            <a class="nav-item nav-link w-25" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">   @ViewData["BankAccount"]</a>
                            <a class="nav-item nav-link  w-25" id="nav-password-tab" data-toggle="tab" href="#nav-password" role="tab" aria-controls="nav-password" aria-selected="true">   @ViewData["Password"]</a>

                        </div>
                    </nav>
                    <div class="tab-content py-3 px-sm-0 mt-5" id="nav-tabContent">


                        @*---------tab1--------------*@
                        <div class=" tab-pane fade show active" id="nav-Personal" role="tabpanel" aria-labelledby="nav-Personal-tab">
                            <form asp-action="ChangePeronalInfo" id="chnageInfoSubmit">


                                <input asp-for="Id" id="infoId" type="hidden" />

                                <div class="row hj-form  mx-auto">

                                  
                                    <div class="form-group w-100">
                                        <label asp-for="Email" class="_text-position  w-100 pr-3" for="email">@ViewData["Email"]</label>
                                        <input asp-for="Email" type="email" autocomplete="off" class="form-control text-center hj-form-profile w-100 py-3 pr-3 text-dark" id="email" placeholder="@ViewData["EmailPL"]">
                                        <span asp-validation-for="Email" class="text-center d-block text-danger"></span>
                                    </div>
                                    <div class="form-group w-100 position-relative">
                                        <label asp-for="Phone" class="_text-position  w-100 pr-3" for="number-Phone">@ViewData["MobileNumber"] </label>
                                        <input asp-for="Phone" autocomplete="off" class="form-control text-center hj-form-profile w-100 py-3 pr-3 text-dark" id="number-Phone" placeholder=" 00000000_98+">
                                        <img src="~/hj/img/Edit - Alt 2.png" class="img-fluid hj-pen" />
                                        <span asp-validation-for="Phone" class="text-center d-block text-danger"></span>
                                    </div>

                                    <label class="_text-position  w-100 pr-3 mt-2" for="">@ViewData["SiteLanguages"]</label>
                                    <div class="row w-100 mx-auto my-2 hj-form-profile hj-maharat ">
                                        <div class="col-md-7 col-8  mx-auto text-left py-2 ">
                                            <h6 class="_text-position pt-1 pl-4" id="siteText"></h6>
                                        </div>
                                        <div class="col-md-5 col-4  mx-auto">
                                            <i class="fas fa-chevron-down pl-3 pt-3" id="select-down"></i>
                                        </div>
                                    </div>
                                    <input type="hidden" name="SiteLanguage" id="SiteLanguage" value="@((int) Model.SiteLanguage )" />
                                    <div class="row w-100 mx-auto hj-select  ">

                                        <div class="col-sm-2 col-12  py-2">
                                            <button type="button" id="persianLan" class="btn  w-100 button-Service">@ViewData["PersianLanguage"]</button>
                                        </div>
                                        <div class="col-sm-2 col-12  py-2">
                                            <button type="button" id="englishLan" class="btn  w-100 button-Service">@ViewData["EnglishLanguage"]</button>
                                        </div>
                                    </div>

                                    <div class="row w-100 mx-auto mt-4 pt-4">
                                        <input type="submit" id="changeInfoSubmit" class="btn btn-success w-25 mx-auto Confirmation" value="@ViewData["SaveSettings"]" />
                                    </div>

                                </div>
                            </form>
                        </div>



                        @*-----------tab2------------------*@
                        <div class=" tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <form asp-action="ChangeAccountBank" id="changeBankSubmit">



                                <input asp-for="Id" id="accountId" type="hidden" />

                                <div class="row hj-form  mx-auto">
                                    @if (!string.IsNullOrEmpty(TempData["BankSuccess"] as string))
                                    {
                                        <div class="form-group w-100">

                                            <div class="form-row">
                                                <div class="col-md-12 mb-3">
                                                    <div class="alert  alert-success  text-right alert-dismissible fade show col-md-12" role="alert">
                                                        <strong>  @TempData["BankSuccess"]</strong>
                                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                            <span class="ml-4" aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                    @if (!string.IsNullOrEmpty(TempData["BankError"] as string))
                                    {
                                        <div class="form-group w-100">

                                            <div class="form-row">
                                                <div class="col-md-12 mb-3">
                                                    <div class="alert alert-warning  text-right alert-dismissible fade show col-md-12" role="alert">
                                                        <strong>  @TempData["BankError"] </strong>
                                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                            <span class="ml-4" aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }


                                    <div class="form-group w-100">
                                        <label asp-for="AccountOwner" class="_text-position  w-100 pr-3" for="Owner-name"> @ViewData["AccountOwner"] </label>
                                        <input asp-for="AccountOwner" type="text" class="form-control text-center hj-form-profile w-100 py-3  text-dark" id="Owner-name" placeholder="@ViewData["AccountOwner"]">
                                        <span asp-validation-for="AccountOwner" class="text-center d-block text-danger"></span>
                                    </div>

                                    <div class="form-group w-100">
                                        <label asp-for="BankName" class="_text-position  w-100 pr-3" for="Bank-name"> @ViewData["BankName"]  </label>
                                        <input asp-for="BankName" type="text" class="form-control text-center hj-form-profile w-100 py-3 pr-3 text-dark" id="Bank-name" placeholder="@ViewData["BankName"]">
                                        <span asp-validation-for="BankName" class="text-center d-block text-danger"></span>
                                    </div>

                                    <div class="form-group w-100">
                                        <label asp-for="CardNumber" class="_text-position  w-100 pr-3" for="card-number">    @ViewData["CardNumber"]</label>
                                        <input asp-for="CardNumber" type="text" class="form-control text-center hj-form-profile w-100 py-3 pr-3 text-dark" id="card-number" placeholder="6123-5419-8165-6498">
                                        <span asp-validation-for="CardNumber" class="text-center d-block text-danger"></span>
                                    </div>

                                    <div class="form-group w-100 position-relative">
                                        <label asp-for="ShabaNumber" class="_text-position  w-100 pr-3" for="shaba-number"> @ViewData["ShabaNumber"]</label>
                                        <input asp-for="ShabaNumber" type="text" class="form-control text-center hj-form-profile w-100 py-3 pr-3 text-dark" id="shaba-number" placeholder=" 6541 9816 5649 3228">
                                        <img src="~/hj/img/ss.png" class="img-fluid hj-shaba" />
                                        <span asp-validation-for="ShabaNumber" class="text-center d-block text-danger"></span>
                                    </div>
                                    <div class="form-group w-100 position-relative">
                                        <label asp-for="VisaNumber" class="_text-position  w-100 pr-3" for="visa-number">  @ViewData["VisaOrMasterCardNumber"]</label>
                                        <input asp-for="VisaNumber" type="text" class="form-control text-center hj-form-profile w-100 py-3 pr-3 text-dark" id="visa-number" placeholder=" 6121 5419 8165 6498">
                                        <img src="~/hj/img/visa.png" class="img-fluid hj-visa" />
                                        <span asp-validation-for="VisaNumber" class="text-center d-block text-danger"></span>
                                    </div>

                                    <div class="row w-100 mx-auto mt-4 pt-4">
                                        <input type="submit" id="chnageBankSubmit" class="btn btn-success w-25 mx-auto Confirmation" value="@ViewData["SaveSettings"]" />
                                    </div>

                                </div>
                            </form>

                        </div>
                        @*--------tab3--------*@
                        <div class=" tab-pane fade " id="nav-password" role="tabpanel" aria-labelledby="nav-password-tab">
                            <form asp-action="ChangePassword" id="changePassForm">

                                <input asp-for="Id" id="passId" type="hidden" />
                                <div class="row w-100 mx-auto">


                                    <div class="col-md-8 col-12 mx-auto">

                                        <div class="form-group w-100 position-relative">

                                            <label asp-for="OldPassword" class="_text-position  w-100 pr-3" for="visa-number">@ViewData["OldPass"]</label>
                                            <input asp-for="OldPassword" type="text" class="form-control text-center hj-form-profile w-100 py-3 pr-3 text-dark" id="password1" placeholder="************">
                                            <img src="~/hj/img/View - Alt 1.svg" class="img-fluid hj-pen" onclick="showpass1()" />
                                            <span asp-validation-for="OldPassword" class="text-center d-block text-danger"></span>
                                        </div>





                                        <div class="form-group w-100 position-relative">
                                            <label asp-for="NewPassword" class="_text-position  w-100 pr-3" for="visa-number">@ViewData["NewPass"]</label>
                                            <input asp-for="NewPassword" type="text" class="form-control text-center hj-form-profile w-100 py-3 pr-3 text-dark" id="password2" placeholder="************">
                                            <img src="~/hj/img/View - Alt 1.svg" class="img-fluid hj-pen" onclick="showpass2()" />
                                            <span asp-validation-for="NewPassword" class="text-center d-block text-danger"></span>
                                        </div>

                                        <div class="form-group w-100 position-relative">
                                            <label asp-for="NewPasswordConfirm" class="_text-position  w-100 pr-3" for="visa-number">@ViewData["NewPassRepeat"]</label>
                                            <input asp-for="NewPasswordConfirm" type="text" class="form-control text-center hj-form-profile w-100 py-3 pr-3 text-dark" id="password3" placeholder="************">
                                            <img src="~/hj/img/View - Alt 1.svg" class="img-fluid hj-pen" onclick="showpass3()" />
                                            <span asp-validation-for="NewPasswordConfirm" class="text-center d-block text-danger"></span>

                                        </div>
                                        <div class="row w-100 mx-auto mt-4 pt-4">
                                            <input type="submit" id="chnagePassSubmit" value="@ViewData["SaveSettings"]" class="btn btn-success w-25 mx-auto Confirmation" />
                                        </div>


                                        @*<div class="row w-100 mx-auto mt-4 pt-4">
                                                <button className="btn btn-success w-25 mx-auto Confirmation" type="button" disabled>

                                                </button>
                                            </div>*@

                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ./Tabs -->
</div>





@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/swal-alert/sweetalert.min.js"></script>
    <script src="~/SinaCustom/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js" integrity="sha512-eYSzo+20ajZMRsjxB6L7eyqo5kuXuS2+wEbbOkpaur+sA2shQameiJiWEzCIDwJqaB0a4a6tCuEvCOBHUg3Skg==" crossorigin="anonymous"></script>


    <script>


        $(document).ready(function () {
            //عدم اجازه یراس وارد کردن  اسپیس
            $('input').on('keypress', function (e) {
                if (e.which == 32)
                    return false;
            });




            if ($("#SiteLanguage").val() == 1) {
                $("#siteText").text($("#persianLan").text())
                $("#persianLan").addClass('_btnActive')
            }
            else {




                $("#siteText").text($("#englishLan").text())
                $("#englishLan").addClass('_btnActive')
            }




            ////persianLan- englishLan
            //var languageId;

            $("#persianLan").on('click', function () {
                //var persianVal = $("#SiteLanguage").val(1);

                $("#SiteLanguage").val(1);
                $(this).addClass('_btnActive ')
                $("#englishLan").removeClass('_btnActive')

                $("#siteText").text($("#persianLan").text())
            })

            $("#englishLan").on('click', function () {

                //var englidhVal = $("#SiteLanguage").val(0);

                $("#SiteLanguage").val(0);
                $(this).addClass('_btnActive ')
                $("#persianLan").removeClass('_btnActive')

                $("#siteText").text($("#englishLan").text())


            })


        })







        //chnage account settings
        $("#chnageInfoSubmit").submit(function (e) {
            e.preventDefault();
            if (!$(this).valid()) {
                return;
            }
            var username = $("#name").val();
            var email = $("#email").val();
            var phone = $("#number-Phone").val();
            var siteLanguage = $("#SiteLanguage").val();
            var Id = $("#infoId").val()

            var data = {
                "UserName": username,
                "Email": email,
                "Phone": phone,
                "SiteLanguage": siteLanguage,

                "Id": Id
            };
            $("#changeInfoSubmit").prop('disabled', true);
            $.blockUI({ message: '<h1 class="text-center"><img src="/SinaCustom/img/Spinner-0.9s-58px.svg" />  </h1>' });

            $.ajax({
                method: "POST",
                url: '/AccountSettings/ChangePeronalInfo',
                data: data,
                //contentType: "application/json; charset=utf-8",
                success: function (r) {
                    if (r.status) {
                        $("#changeInfoSubmit").prop('disabled', false);
                        $.unblockUI();
                        SuccessAlert(r.message)
                    }
                    else {
                        $("#changeInfoSubmit").prop('disabled', false);
                        $.unblockUI();
                        FailedAlert(r.message);
                    }
                },
                error: function () {
                    $("#changeInfoSubmit").prop('disabled', false);
                    FailedAlert("خطا رخ داده است.");
                    $.unblockUI();
                }
            });
        })







        //chnage account settings
        $("#changeBankSubmit").submit(function (e) {
            e.preventDefault();
            if (!$(this).valid()) {
                return;
            }
            var ownername = $("#Owner-name").val();
            var banckname = $("#Bank-name").val();
            var cardNumber = $("#card-number").val();
            var shabaNumber = $("#shaba-number").val();
            var visalNumber = $("#visa-number").val();
            var Id = $("#accountId").val()

            var data = {
                "BankName": ownername,
                "AccountOwner": banckname,
                "CardNumber": cardNumber,
                "ShabaNumber": shabaNumber,
                "VisaNumber": visalNumber,

                "Id": Id
            };
            $("#chnageBankSubmit").prop('disabled', true);
            $.blockUI({ message: '<h1 class="text-center"><img src="/SinaCustom/img/Spinner-0.9s-58px.svg" />  </h1>' });
            $.ajax({
                method: "POST",
                url: '/AccountSettings/ChangeAccountBank',
                data: data,
                //contentType: "application/json; charset=utf-8",
                success: function (r) {
                    if (r.status) {
                        $("#chnageBankSubmit").prop('disabled', false);
                        $.unblockUI();
                        SuccessAlert(r.message)
                    }
                    else {
                        $("#chnageBankSubmit").prop('disabled', false);
                        $.unblockUI();
                        FailedAlert(r.message);
                    }
                },
                error: function () {
                    $("#chnageBankSubmit").prop('disabled', false);
                    $.unblockUI();
                    FailedAlert("خطا رخ داده است.");
                }
            });
        })






        //change Password
        $("#changePassForm").submit(function (e) {
            e.preventDefault();
            if (!$(this).valid()) {
                return;
            }
            var oldPass = $("#password1").val();
            var newPass = $("#password2").val();
            var newPassConfiem = $("#password3").val();

            var Id = $("#passId").val()
            var data = {
                "OldPassword": oldPass,
                "NewPassword": newPass,
                "NewPasswordConfirm": newPassConfiem,
                "Id": Id
            };
            $("#chnagePassSubmit").prop('disabled', true);
            $.blockUI({ message: '<h1 class="text-center"><img src="/SinaCustom/img/Spinner-0.9s-58px.svg" />  </h1>' });
            $.ajax({
                method: "POST",
                url: '/AccountSettings/ChangePassword',
                data: data,
                //contentType: "application/json; charset=utf-8",
                success: function (r) {
                    if (r.status) {
                        $("#chnagePassSubmit").prop('disabled', false);
                        $.unblockUI();
                        SuccessAlert(r.message)
                    }
                    else {
                        $("#chnagePassSubmit").prop('disabled', false);
                        $.unblockUI();
                        FailedAlert(r.message);
                    }
                },
                error: function () {
                    $("#chnagePassSubmit").prop('disabled', false);
                    $.unblockUI();
                    FailedAlert("خطا رخ داده است.");
                }
            });
        })





    </script>
}
