
<div class="navigation-menu-body">

    <!-- begin::navigation-logo -->
    <div>
        <div id="navigation-logo">
            <a href="/">
                <img class="logo" style="width:60px" src="~/hj/img/logo.png" alt="logo">
                <img class="logo-light" src="~/Admin/assets/media/image/logo-light.png" alt="light logo">
            </a>
        </div>
    </div>
    <!-- end::navigation-logo -->

    <div class="navigation-menu-group">

       
        <div id="apps">
            <ul class="menuUl">
                <li class="navigation-divider"> </li>
                <li class="navigation-divider"> </li>

                <li><a class='@Html.IsSelected("Services", "Index","admin","btn btn-primary text-white shadow-lg") d-block text-center' href="@Url.Action("Index","Services")">مدیرت خدمت دهندگان</a></li>
                <li><a class='@Html.IsSelected("Services", "AllServiceGivver","admin","btn btn-primary text-white shadow-lg") d-block text-center' href="@Url.Action("AllServiceGivver","Services")">مدیریت خدمت گیرندگان</a></li>
            </ul>

        </div>
        <div class="open" id="elements">
            <ul class="menuUl">
                <li class="navigation-divider"> </li>
                <li class="navigation-divider"> </li>

                <li><a class='@Html.IsSelected("Home", "Index","admin","btn btn-primary text-white shadow-lg") d-block text-center' href="@Url.Action("Index","Home")">داشبورد</a></li>
                <li><a class='@Html.IsSelected("plans", "Index","admin","btn btn-primary text-white shadow-lg") d-block text-center' href="@Url.Action("Index","plans")">مدیریت پلن  سرویس ها</a></li>

                <li><a class='@Html.IsSelected("Services", "Index","admin","btn btn-primary text-white shadow-lg") d-block text-center' href="@Url.Action("Index","Services")">مدیرت خدمت دهندگان</a></li>
                <li><a class='@Html.IsSelected("Services", "IndexGetterService","admin","btn btn-primary text-white shadow-lg") d-block text-center' href="@Url.Action("IndexGetterService","Services")">مدیریت خدمت گیرندگان</a></li>
                <li><a class='@Html.IsSelected("NewsArticleVideo", "Index","admin","btn btn-primary text-white shadow-lg") d-block text-center' href="@Url.Action("Index","NewsArticleVideo")">مدیریت اخبار و مقالات فیلم  </a></li>
                <li><a class='@Html.IsSelected("Slides", "Index","admin","btn btn-primary text-white shadow-lg") d-block text-center' href="@Url.Action("Index","Slides")">مدیریت اسلاید</a></li>
                <li><a class='@Html.IsSelected("Category", "Index","admin","btn btn-primary text-white shadow-lg") d-block text-center' href="@Url.Action("Index","Category")">مدیریت  دسته بندی ها</a></li>
                <li><a class='@Html.IsSelected("Cities", "Index","admin","btn btn-primary text-white shadow-lg") d-block text-center' href="@Url.Action("Index","Cities")">مدیریت  شهر ها</a></li>
                <li><a class='@Html.IsSelected("MonyUnit", "Index","admin","btn btn-primary text-white shadow-lg") d-block text-center' href="@Url.Action("Index","MonyUnit")">مدیریت  واحد پول</a></li>
                <li><a class='@Html.IsSelected("Settings", "Index","admin","btn btn-primary text-white shadow-lg") d-block text-center' href="@Url.Action("Index","settings")">مدیریت  تنظیمات</a></li>
                <li><a class='@Html.IsSelected("Admins", "Index","admin","btn btn-primary text-white shadow-lg") d-block text-center' href="@Url.Action("Index","admins")">   لیست ادمین ها</a></li>
                <li><a class='@Html.IsSelected("Admins", "Users","admin","btn btn-primary text-white shadow-lg") d-block text-center' href="@Url.Action("Users","admins")">   لیست کاربران ها</a></li>
                <li><a class='@Html.IsSelected("Admins", "Profile","admin","btn btn-primary text-white shadow-lg") d-block text-center ' href="@Url.Action("Profile","admins")">  پروفایل</a></li>



                @*<li>
            <a class="d-block text-center" href="#">مدیریت ادمین</a>
            <ul>
                <li><a class='@Html.IsSelected("Admins", "Index","admin","btn btn-primary text-white") ' href="@Url.Action("Index","admins")">   لیست ادمین ها</a></li>
                <li><a class='@Html.IsSelected("Admins", "Profile","admin","btn btn-primary text-white")' href="@Url.Action("Profile","admins")">  پروفایل</a></li>
            </ul>
        </li>*@
            </ul>
        </div>
    </div>
</div>



@*@section Scripts{
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script>
         var sd  =  $("li._menuNav").parent("ul._menuNav")

            console.log(sd)


        </script>
    }*@
