@model Helper.ViewModels.CreateServiceVM
@using Helper.Data
@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@inject ApplicationDbContext _context;

@{
    ViewData["Title"] = "Create Service";
    Layout = "~/Views/Shared/_landing.cshtml";

    var HasActivePlan = ViewBag.HasActivePlan;


    string CreateServiceText;
    @if (CultureInfo.CurrentCulture.Name == PublicHelper.persianCultureName)
    {
        CreateServiceText = _context.TBL_Settings.Where(c => c.Key == PublicHelper.CreateServiceText).SingleOrDefault().Value;
    }
    else
    {
        CreateServiceText = _context.TBL_Settings.Where(c => c.Key == PublicHelper.CreateServiceText).SingleOrDefault().EnglishValue;
    }
}





@section Styles{
    <link href="~/lib/swal-alert/sweetalert.css" rel="stylesheet" />
    @*<link href="~/lib/jquery.tagsinput/jquery.tagsinput.min.css" rel="stylesheet" />*@

    <link href="~/lib/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-tagsinput/custom.css" rel="stylesheet" />
    <link href="~/lib/LibStyles/LibStyles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" />
}




<div class="container">
    <div class="row mt-md-5 pt-md-5">
        <div class="col-md-5 col-12 ml-lg-5 order-md-0 order-1 hj-intro-h">
            <div class="row mx-auto">
                <span class="text-justify size-33">
                    <b>
                        @ViewData["CreateService"]
                    </b>
                </span>
            </div>
            <div class="row w-100 mx-auto pt-3 pt-md-2">
                <img src="~/hj/img/border-bottom.png" class="img-fluid" />
            </div>
            <div class="row mt-3 mx-auto">
                <span class="text-justify hj-intro-text">  @Html.Raw(CreateServiceText)   </span>
            </div>

        </div>
        <div class="col-md-6 col-12 mr-lg-4 order-md-1 order-0">
            <img src="~/hj/img/Group 2665.svg" class="img-fluid" alt="Responsive image">
        </div>

    </div>
    @*...................end intro.....................*@
</div>


@*-----------------form-----------------*@
<div class="container mx-auto">
    <!-- Tabs -->
    <section id="tabs">
        <div class="container p-0 m-0">

            <div class="row w-100 mx-auto">
                <div class="col-xs-12 p-0 m-0 ">

                    <nav>

                        <div class="nav nav-tabs nav-fill p-0 m-0 w-100" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active w-50" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">  @ViewData["ServiceRequest"] </a>
                            <a class="nav-item nav-link w-50" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">  @ViewData["ServiceDelivery"]</a>

                        </div>

                    </nav>
                    <div class="tab-content py-3 px-sm-0 mt-5" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">


                            <form asp-action="CreateService" id="donnerForm1">


                                <input type="hidden" name="Id1" id="Id1" value="0" />
                                <div class="row w-100 mx-auto my-3 text-center ">
                                    <h5 class="_text-position">    @ViewData["Titles"]  </h5>

                                    <input asp-for="Title" id="Title1" autocomplete="off" placeholder='@ViewData["Titles"] ' class="service-form text-center form-control hj-form-profile w-100 py-3 pr-3 text-dark _formInput" />
                                    <span asp-validation-for="Title" class="text-center w-100 text-danger"> </span>
                                    @*<h5 class="text-center w-100 pt-2"> تایتل خدمت</h5>*@
                                </div>
                                <div class="row w-100 mx-auto my-3  text-center  service-form-detalis">
                                    <h5 class="_text-position">        @ViewData["Descriptions"] </h5>

                                    <textarea asp-for="Description" autocomplete="off" id="Description1" placeholder='@ViewData["Descriptions"]' class=" pt-2 pb-2 service-form text-center form-control hj-form-profile w-100 py-3 pr-3 text-dark _formInput">
                                </textarea>
                                    <span asp-validation-for="Description" class="pt-2 pb-2 text-center w-100 text-danger"> </span>

                                </div>







                                <div className="form-group  hj-height">
                                    <h5 class="_text-position">    @ViewData["Categories"]</h5>
                                    @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "catId form-control my-3 service-form", @id = "CategoryId1" })
                                    <span asp-validation-for="CategoryId" class="pt-2 pb-2 text-center w-100 text-danger"></span>
                                </div>




                                <div className="form-group hj-height">
                                    <h5 class="_text-position"> @ViewData["City"] </h5>
                                    @Html.DropDownList("CityId", null, htmlAttributes: new { @class = "cityId form-control my-3 service-form", @id = "CityId1" })
                                    <span asp-validation-for="CityId" class="pt-2 pb-2 text-center w-100 text-danger"></span>
                                </div>


                                <div class="row w-100 mx-auto my-3 text-center ">
                                    <h5 class="_text-position"> @ViewData["Skills"] </h5>

                                    <input asp-for="Skills" id="Skills1" class="skill service-form text-center form-control hj-form-profile w-100 py-3 pr-3 text-dark _formInput" />
                                    <span asp-validation-for="Skills" class="pt-2 pb-2 text-center w-100 text-danger"> </span>
                                </div>






                                <div class="row w-100 mx-auto">
                                    <div class="col-lg-10 col-md-8 col-6">
                                        <h5 class="_text-position Pricerange  ">@ViewData["PriceRange"]</h5>
                                    </div>

                                    <div class="col-lg-2 col-md-4 col-6 text-news">
                                        @Html.DropDownList("MonyUnitId", null, htmlAttributes: new { @class = "monyUnitid form-control text-left currency", @id = "MonyUnitId1" })
                                        <span asp-validation-for="MonyUnitId" class="pt-2 pb-2 text-center w-100 text-danger"></span>
                                        @* <h5 class="text-left  ">  واحد پول <i class="fas fa-chevron-down pl-3 pt-3 mr-3" id="Pricerange-down"></i></h5>*@
                                    </div>
                                </div>
                                <div class="row w-100 mx-auto  pb-5 active">
                                    <div class="col-sm-6 py-2">
                                        <input asp-for="MinpRice" id="MinpRice1" min="0" max="9999999999999999999" autocomplete="off" class="form-control text-center hj-input-service py-3" placeholder="@ViewData["FromPrice"]" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                                        <span asp-validation-for="MinpRice" class="pt-2 pb-2 text-center  text-danger d-block"></span>
                                    </div>
                                    <div class="col-sm-6 py-2">
                                        <input asp-for="MaxPrice" id="MaxPrice1" autocomplete="off" min="0" max="9999999999999999999" class="form-control text-center hj-input-service py-3 " placeholder="@ViewData["ToPrice"]" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                                        <span asp-validation-for="MaxPrice" class="pt-2 pb-2 text-center  text-danger d-block"></span>
                                    </div>
                                </div>
                                <div class="row w-100 mx-auto ">
                                    <div class="col-12 text-right">
                                        <input class="checkbox-service"
                                               type="checkbox"
                                               data-val="true"
                                               data-val-required="The IsAgreement field is required."
                                               id="IsAgree"
                                               name="IsAgreement1"
                                               value="true">
                                        <label for="IsAgree" class="label-chekbox"> @ViewData["Agreed"]</label>
                                    </div>
                                </div>




                                <input name="IsAgreementVal1" type="hidden" id="IsAgreementVal1" value="false">


                                <div class="row w-100 mx-auto mt-4 pt-4">
                                    <input type="submit" id="createBtnSubmit1" value="@ViewData["Submit"]" class="btn btn-success w-25 mx-auto Confirmation">
                                </div>
                            </form>
                        </div>




                        -@*------dashbord-----*@
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">



                            @if (CultureInfo.CurrentCulture.Name == PublicHelper.persianCultureName)
                            {
                                if (!HasActivePlan)
                                {
                                    <div class="alert alert-success text-center" role="alert">
                                        You dont Have Active an active  Plan! <a href="/plan/index"> I will buy it now </a>
                                    </div>
                                }
                            }
                            else
                            {
                                if (!HasActivePlan)
                                {
                                    <div class="alert alert-success text-center" role="alert">
                                        پلن فعالی برای شما موجودنیست <a href="/plan/index">   همین حالا میخرم        </a>
                                    </div>
                                }
                            }

                            <form asp-action="CreateService" id="donnerForm">

                                <input type="hidden" name="Id" id="Id" value="0" />
                                <div class="row w-100 mx-auto my-3 text-center ">
                                    <h5 class="_text-position">    @ViewData["Titles"]  </h5>

                                    @{var IsDisabled = HasActivePlan ? false : true; }
                                    <input asp-for="Title" id="Title" disabled="@IsDisabled" autocomplete="off" placeholder='@ViewData["Titles"] ' class="service-form text-center form-control hj-form-profile w-100 py-3 pr-3 text-dark _formInput" />
                                    <span asp-validation-for="Title" class="text-center w-100 text-danger"> </span>
                                    @*<h5 class="text-center w-100 pt-2"> تایتل خدمت</h5>*@
                                </div>
                                <div class="row w-100 mx-auto my-3  text-center  service-form-detalis">
                                    <h5 class="_text-position">        @ViewData["Descriptions"] </h5>

                                    <textarea asp-for="Description" disabled="@IsDisabled" autocomplete="off" id="Description" placeholder='@ViewData["Descriptions"]' class=" pt-2 pb-2 service-form text-center form-control hj-form-profile w-100 py-3 pr-3 text-dark _formInput">
                                </textarea>
                                    <span asp-validation-for="Description" class="pt-2 pb-2 text-center w-100 text-danger"> </span>

                                    @*<input class="form-control hj-form-profile w-100 py-3 pr-3 text-dark _formInput"/>*@
                                    @*<h6 class="text-center w-100 pt-2 pb-5 text-justify">  لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف</h6>*@


                                </div>






                                @if (IsDisabled)
                                {
                                    <div className="form-group  hj-height">
                                        <h5 class="_text-position">    @ViewData["Categories"]</h5>
                                        @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "catId form-control my-3 service-form", disabled = true })
                                        <span asp-validation-for="CategoryId" class="pt-2 pb-2 text-center w-100 text-danger"></span>
                                    </div>
                                }
                                else
                                {
                                    <div className="form-group  hj-height">
                                        <h5 class="_text-position">    @ViewData["Categories"]</h5>
                                        @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "catId form-control my-3 service-form" })
                                        <span asp-validation-for="CategoryId" class="pt-2 pb-2 text-center w-100 text-danger"></span>
                                    </div>
                                }



                                @if (IsDisabled)
                                {

                                    <div className="form-group hj-height">
                                        <h5 class="_text-position"> @ViewData["City"] </h5>
                                        @Html.DropDownList("CityId", null, htmlAttributes: new { @class = "cityId form-control my-3 service-form", disabled = true })
                                        <span asp-validation-for="CityId" class="pt-2 pb-2 text-center w-100 text-danger"></span>
                                    </div>
                                }
                                else
                                {
                                    <div className="form-group hj-height">
                                        <h5 class="_text-position"> @ViewData["City"] </h5>
                                        @Html.DropDownList("CityId", null, htmlAttributes: new { @class = "cityId form-control my-3 service-form" })
                                        <span asp-validation-for="CityId" class="pt-2 pb-2 text-center w-100 text-danger"></span>
                                    </div>
                                }






                                @if (HasActivePlan)
                                {
                                    <div class="row w-100 mx-auto my-3 text-center ">
                                        <h5 class="_text-position"> @ViewData["Skills"] </h5>

                                        <input asp-for="Skills" disabled="@IsDisabled" id="Skills" class="skill service-form text-center form-control hj-form-profile w-100 py-3 pr-3 text-dark _formInput" />
                                        <span asp-validation-for="Skills" class="pt-2 pb-2 text-center w-100 text-danger"> </span>
                                    </div>

                                }


                                @*<div class="row w-100 mx-auto hj-select">
                                        <div class="col-sm-2 col-12 py-2">
                                            <button type="button" class="btn  w-100 button-Service">مهارت</button>
                                        </div>
                                        <div class="col-sm-2 col-12  py-2">
                                            <button type="button" class="btn  w-100 button-Service">مهارت</button>
                                        </div>

                                    </div>*@

                                <div class="row w-100 mx-auto mt-4 mb-4">
                                    <div class="col-lg-10 col-md-8 col-6">
                                        <h5 class="_text-position Pricerange  ">   @ViewData["PriceRange"]</h5>
                                    </div>

                                    @if (IsDisabled)
                                    {
                                        <div class="col-lg-2 col-md-4 col-6 text-news">
                                            @Html.DropDownList("MonyUnitId", null, htmlAttributes: new { @class = "monyUnitid form-control text-left currency", disabled = true })
                                            <span asp-validation-for="MonyUnitId" class="pt-2 pb-2 text-center w-100 text-danger"></span>
                                            @* <h5 class="text-left  ">  واحد پول <i class="fas fa-chevron-down pl-3 pt-3 mr-3" id="Pricerange-down"></i></h5>*@
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-lg-2 col-md-4 col-6 text-news">
                                            @Html.DropDownList("MonyUnitId", null, htmlAttributes: new { @class = "monyUnitid form-control text-left currency" })
                                            <span asp-validation-for="MonyUnitId" class="pt-2 pb-2 text-center w-100 text-danger"></span>
                                            @* <h5 class="text-left  ">  واحد پول <i class="fas fa-chevron-down pl-3 pt-3 mr-3" id="Pricerange-down"></i></h5>*@
                                        </div>
                                    }

                                </div>
                                <div class="row w-100 mx-auto  pb-5 active">
                                    <div class="col-sm-6 py-2">
                                        <input asp-for="MinpRice" disabled="@IsDisabled" min="0" max="9999999999999999999" autocomplete="off" class="form-control text-center hj-input-service py-3" placeholder="@ViewData["FromPrice"]" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                                        <span asp-validation-for="MinpRice" class="pt-2 pb-2 text-center  text-danger d-block"></span>
                                    </div>
                                    <div class="col-sm-6 py-2">
                                        <input asp-for="MaxPrice" disabled="@IsDisabled" autocomplete="off" min="0" max="9999999999999999999" class="form-control text-center hj-input-service py-3 " placeholder="@ViewData["ToPrice"]" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                                        <span asp-validation-for="MaxPrice" class="pt-2 pb-2 text-center  text-danger d-block"></span>
                                    </div>
                                </div>
                                <div class="row w-100 mx-auto ">
                                    <div class="col-12 text-right">


                                        <input disabled="@IsDisabled" class="checkbox-service"
                                               type="checkbox"
                                               data-val="true"
                                               data-val-required="The IsAgreement field is required."
                                               id="IsAgreement"
                                               name="IsAgreement"
                                               value="true">

                                        <label for="IsAgreement" class="label-chekbox"> @ViewData["Agreed"]</label>
                                    </div>
                                </div>

                                <div class="row w-100 p-0 m-0 mx-auto pt-md-3 pt-5 mt-3">
                                    <div class="col-12  text-right"><h5><b>   @ViewData["HowToSendService"]  </b></h5></div>

                                </div>
                                <div class="row w-100 mx-auto">
                                    <img src="~/hj/img/borderbig green.png" class="img-fluid mx-auto" />
                                </div>



                                <input name="IsAgreementVal" disabled="@IsDisabled" type="hidden" id="IsAgreementVal" value="false">

                                <input name="IsSendByEmailVal" disabled="@IsDisabled" type="hidden" id="IsSendByEmailVal" value="false">
                                <input name="IsSendByNOtificationVal" disabled="@IsDisabled" type="hidden" id="IsSendByNOtificationVal" value="false">
                                <input name="IsSendBySmsVal" disabled="@IsDisabled" type="hidden" id="IsSendBySmsVal" value="false">

                                <div class="row w-100 mx-auto text-md-center text-right mt-3">
                                    <div class="col-md-4">


                                        <input disabled="@IsDisabled" class="checkbox-service"
                                               type="checkbox"
                                               data-val="true"
                                               data-val-required="The IsSendByEmail field is required."
                                               id="IsSendByEmail"
                                               name="IsSendByEmail"
                                               value="true">

                                        <label for="IsSendByEmail" class=" label-chekbox "> @ViewData["Email"]</label>
                                    </div>

                                    <div class="col-md-4">

                                        <input disabled="@IsDisabled" name="IsSendByNOtification"
                                               data-val="true"
                                               value="true"
                                               type="checkbox"
                                               id="IsSendByNOtification"
                                               class="checkbox-service">
                                        <label for="IsSendByNOtification" class="label-chekbox"> @ViewData["Notification"]</label>
                                    </div>


                                    <div class="col-md-4">
                                        <input disabled="@IsDisabled" name="IsSendBySms"
                                               data-val="true"
                                               value="true"
                                               type="checkbox"
                                               id="IsSendBySms"
                                               class="checkbox-service">
                                        <label for="IsSendBySms" class="label-chekbox">    @ViewData["Sms"]</label>
                                    </div>
                                </div>
                                <div class="row w-100 mx-auto mt-4 pt-4">
                                    <input type="submit" disabled="@IsDisabled" id="createBtnSubmit" value="@ViewData["Submit"]" class="btn btn-success w-25 mx-auto Confirmation">
                                </div>
                            </form>

                        </div>


                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- ./Tabs -->
</div>



@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/lib/swal-alert/sweetalert.min.js"></script>
    <script src="~/SinaCustom/js/main.js"></script>
    @*<script src="~/lib/jquery.tagsinput/jquery.tagsinput.min.js"></script>*@
    <script src="~/lib//bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js" integrity="sha512-eYSzo+20ajZMRsjxB6L7eyqo5kuXuS2+wEbbOkpaur+sA2shQameiJiWEzCIDwJqaB0a4a6tCuEvCOBHUg3Skg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous"></script>
    <script src="~/lib/vuejs/vue.min.js"></script>

    <script>


        @if (CultureInfo.CurrentCulture.Name == PublicHelper.persianCultureName)
        {
            <text>
                $(document).ready(function () {
                    $("#Skills").tagsinput({
                        maxChars: 50,
                        trimValue: true,
                        maxTags: 10,
                    });
                    $("#Skills1").tagsinput({
                        maxChars: 50,
                        trimValue: true,
                        maxTags: 10,
                    });

                    $('.bootstrap-tagsinput').addClass(' text-center w-100 mx-auto my-3 service-form px-3')
                    $('.bootstrap-tagsinput').css({ "min-height": "60px", "height": "auto " })



                    $(".catId").select2({
                        dir: "rtl"
                    });
                    $(".cityId").select2({
                        dir: "rtl"
                    });
                    $(".monyUnitid").select2({
                        dir: "rtl"
                    });



                    $('#IsAgreementVal').val($('#IsAgreement').is(':checked'));
                    $('#IsAgreement').change(function () {
                        $('#IsAgreementVal').val($('#IsAgreement').is(':checked'));
                    });

                    $('#IsAgreementVal1').val($('#IsAgree').is(':checked'));
                    $('#IsAgree').change(function () {
                        $('#IsAgreementVal1').val($('#IsAgree').is(':checked'));
                    });



                    $('#IsSendByEmailVal').val($('#IsSendByEmail').is(':checked'));
                    $('#IsSendByEmail').change(function () {
                        $('#IsSendByEmailVal').val($('#IsSendByEmail').is(':checked'));
                    });


                    $('#IsSendByNOtificationVal').val($('#IsSendByNOtification').is(':checked'));
                    $('#IsSendByNOtification').change(function () {
                        $('#IsSendByNOtificationVal').val($('#IsSendByNOtification').is(':checked'));
                    });


                    $('#IsSendBySmsVal').val($('#IsSendBySms').is(':checked'));
                    $('#IsSendBySms').change(function () {
                        $('#IsSendBySmsVal').val($('#IsSendBySms').is(':checked'));
                    });


                })

            </text>


        }
        else {
        <text>

        $(document).ready(function () {




            $("#Skills").tagsinput({
                maxChars: 50,
                trimValue: true,
                maxTags: 10,
            });
            $("#Skills1").tagsinput({
                maxChars: 50,
                trimValue: true,
                maxTags: 10,
            });
            //$('.bootstrap-tagsinput').addClass(' text-center w-100 mx-auto my-3 service-form px-3')
            $('.bootstrap-tagsinput').addClass(' text-center w-100 mx-auto my-3 service-form px-3')
            $('.bootstrap-tagsinput').css({ "min-height": "60px", "height": "auto " })
            //$("#Skills").closest('.bootstrap-tagsinput').css({   background: "#eee" })

            //$('.skill').tagsInput({
            //    'interactive': true,
            //    'defaultText': 'Enter new',
            //});
            //$("#Skills_tagsinput").addClass("form-group w-100 text-right hj-form-profile")
            //$("#Skills1_tagsinput").addClass("form-group w-100 text-right hj-form-profile")

            $(".catId").select2();
            $(".cityId").select2();
            $(".monyUnitid").select2();

            $('#IsAgreementVal').val($('#IsAgreement').is(':checked'));
            $('#IsAgreement').change(function () {
                $('#IsAgreementVal').val($('#IsAgreement').is(':checked'));
            });


            $('#IsAgreementVal1').val($('#IsAgreement1').is(':checked'));
            $('#IsAgreement1').change(function () {
                $('#IsAgreementVal1').val($('#IsAgreement1').is(':checked'));
            });


            $('#IsSendByEmailVal').val($('#IsSendByEmail').is(':checked'));
            $('#IsSendByEmail').change(function () {
                $('#IsSendByEmailVal').val($('#IsSendByEmail').is(':checked'));

            });


            $('#IsSendByNOtificationVal').val($('#IsSendByNOtification').is(':checked'));
            $('#IsSendByNOtification').change(function () {
                $('#IsSendByNOtificationVal').val($('#IsSendByNOtification').is(':checked'));
            });


            $('#IsSendBySmsVal').val($('#IsSendBySms').is(':checked'));
            $('#IsSendBySms').change(function () {
                $('#IsSendBySmsVal').val($('#IsSendBySms').is(':checked'));
            });

        })



        </text>
        }

        //service Provider
        $("#donnerForm").submit(function (e) {
            e.preventDefault();
            if (!$(this).valid()) {
                return;
            }

              //data = $(this).serialize()

            id = $("#Id").val();
            title = $("#Title").val();
            description = $("#Description").val()
            catId = $("#CategoryId").val()
            cityId = $("#CityId").val()
            monyUnitId = $("#MonyUnitId").val()
            minpRice = $("#MinpRice").val()
            maxPrice = $("#MaxPrice").val()
            skills = $("#Skills").val();

            isAgreement = $("#IsAgreementVal").val()
            emailVal = $("#IsSendByEmailVal").val()
            notifVal = $("#IsSendByNOtificationVal").val()
            smsVal = $("#IsSendBySmsVal").val()



            var data = {
                "Id": id,
                "Title": title,
                "Description": description,
                "CategoryId": catId,
                "CityId": cityId,
                "MonyUnitId": monyUnitId,
                "MinpRice": minpRice,
                "MaxPrice": maxPrice,
                "IsAgreement": isAgreement,
                "IsSendByEmail": emailVal,
                "IsSendByNOtification": notifVal,
                "IsSendBySms": smsVal,
                "Skills": skills,
                "ServiceType": 0
            };



            $("#createBtnSubmit").prop('disabled', true);
            $.blockUI({ message: '<h1 class="text-center"><img src="/SinaCustom/img/Spinner-0.9s-58px.svg" />  </h1>' });
            $.ajax({
                method: "POST",
                url: "/Services/ServiceProviderCreate",
                data: data,
                //contentType: "application/json; charset=utf-8",
                success: function (r) {
                             if (r.status) {
                                 $("#createBtnSubmit").prop('disabled', false);
                                 $.unblockUI();
                                 SuccessAlert(r.message)
                                 $('#Skills').tagsinput('removeAll');

                                 resetForm("");
                             }
                             else {
                                 $("#createBtnSubmit").prop('disabled', false);
                                 $.unblockUI();
                                 FailedAlert(r.message);
                             }
                           },
                error: function () {
                             $("#createBtnSubmit").prop('disabled', false);
                             $.unblockUI();
                             FailedAlert("خطا رخ داده است.");
                           }
                       });
                   })




        //request Service
        $("#donnerForm1").submit(function (e) {
            e.preventDefault();
            if (!$(this).valid()) {
                return;
            }



            //data = $(this).serialize()

            id1 = $("#Id1").val();
            title1 = $("#Title1").val();
            description1 = $("#Description1").val()
            catId1 = $("#CategoryId1").val()
            cityId1 = $("#CityId1").val()
            monyUnitId1 = $("#MonyUnitId1").val()
            minpRice1 = $("#MinpRice1").val()
            maxPrice1 = $("#MaxPrice1").val()
            skills1 = $("#Skills1").val();
            isAgreement1 = $("#IsAgreementVal1").val()




            var data = {
                "Id": id1,
                "Title": title1,
                "Description": description1,
                "CategoryId": catId1,
                "CityId": cityId1,
                "MonyUnitId": monyUnitId1,
                "MinpRice": minpRice1,
                "MaxPrice": maxPrice1,
                "IsAgreement": isAgreement1,
                "IsSendByEmail": false,
                "IsSendByNOtification": false,
                "IsSendBySms": false,
                "Skills": skills1,
                "ServiceType": 1
            };



            $("#createBtnSubmit1").prop('disabled', true);
            $.blockUI({ message: '<h1 class="text-center"><img src="/SinaCustom/img/Spinner-0.9s-58px.svg" />  </h1>' });
            $.ajax({
                method: "POST",
                url: "/Services/ServiceRequestCreate",
                data: data,
                //contentType: "application/json; charset=utf-8",
                success: function (r) {
                    if (r.status) {
                        $("#createBtnSubmit1").prop('disabled', false);
                        $.unblockUI();
                        SuccessAlert(r.message)
                        $('#Skills1').tagsinput('removeAll');
                        resetForm(1);
                    }
                    else {
                        $("#createBtnSubmit1").prop('disabled', false);
                        $.unblockUI();
                        FailedAlert(r.message);
                    }
                },
                error: function () {
                    $("#createBtnSubmit1").prop('disabled', false);
                    $.unblockUI();
                    FailedAlert("خطا رخ داده است.");
                }
            });
        })






        function resetForm(value) {
             $(`#Id${value}`).val();
             $(`#Title${value}`).val("");
             $(`#Description${value}`).val("")


              $(`#MinpRice${value}`).val("")
            $(`#MaxPrice${value}`).val("")
            //$(`#Skills${value}`).val("")
            //$(`#Skills${value}`).tagsinput('removeAll');





            //var tags = $(`#Skills${value}`).val()?.split(',');

            //tags.each(function (item, index) {
            //    $(`#Skills${value}`).removeTag(item);
            //    //console.log(index + ": " + $(this).text());
            //})
            //for (var i = 0; i < tags.length; i++) {
            //    .removeTag()
            //}

            //var tagData = $(`#Skills${value}`).tags().tagData;
            //if (tagData.length > 0) {
            //    $.each(tagData, function (index, value) {
            //        for (var tItem = 0; tItem < tagData.length;) {
            //            $(`#Skills${value}`).tags().removeTag(tagData[tItem]);
            //        }
            //    });
            //}
        }


    </script>

}