@model IEnumerable<Helper.Areas.Admin.Models.ViewModels.NewFolder.NewsListViewModel>
@using   Helper.Models.Enums;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}





@section Style{

    <!-- DataTable -->
    <link rel="stylesheet" href="~/Admin/vendors/dataTable//dataTables.min.css" type="text/css">
    <link href="~/SinaCustom/css/StyleSheet.css" rel="stylesheet" />
}


<a asp-action="Create" class="btn btn-primary mb-3">ایجاد خبار یا ویدیو</a>
<a asp-action="CreateArticle" class="btn btn-primary mb-3">ایجاد مقاله</a>

<div class="card">
    <div class="card-body">
        <table id="example1" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.NewsType)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.LikesCount)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.CommentsCount)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.SeenCount)
                    </th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">  @Html.DisplayFor(modelItem => item.Title)</td>
                        <td class="text-center">  @Html.DisplayFor(modelItem => item.NewsType)</td>
                        <td class="text-center">  @Html.DisplayFor(modelItem => item.LikesCount)</td>
                        <td class="text-center">  @Html.DisplayFor(modelItem => item.CommentsCount)</td>
                        <td class="text-center">  @Html.DisplayFor(modelItem => item.SeenCount)</td>

                        <td>

                            <div class="btn-group" role="group">
                                @if (item.NewsType == NewsType.Arrticle)
                                {
                                    <a type="button" class="btn btn-warning" asp-action="EditArticle" asp-route-id="@item.Id">
                                        <i class="">تصحیح </i>
                                    </a>
                                }
                                else
                                {
                                    <a type="button" class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">
                                        <i class="">تصحیح </i>
                                    </a>
                                }
                                <a type="button" class="btn btn-success" asp-action="Details" asp-route-id="@item.Id">
                                    <i class="">جزییات </i>
                                </a>
                                <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">
                                    <i class="">حذف</i>
                                </a>
                            </div>

                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.NewsType)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.LikesCount)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.CommentsCount)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.SeenCount)
                    </th>
                    <th> </th>
                </tr>

            </tfoot>
        </table>

    </div>
</div>




@section Scripts{
    <!-- DataTable -->
    <script src="~/Admin/vendors/dataTable/jquery.dataTables.min.js"></script>
    <script src="~/Admin/vendors/dataTable/dataTables.bootstrap4.min.js"></script>
    <script src="~/Admin/vendors/dataTable/dataTables.responsive.min.js"></script>
    <script src="~/Admin/assets/js/examples/datatable.js"></script>

    <script>

        $(document).ready(function () {
            $('#example1').DataTable();
        });

    </script>
}

