@model Helper.ViewModels.ForgetPasswordVM
@using System.Globalization
@{
    ViewData["Title"] = "Forget Password";
    Layout = "~/Views/Shared/_landing.cshtml";
}



@section Styles {
    <link rel="stylesheet" href="~/hj/css/login.css" />
    <link href="~/lib/swal-alert/sweetalert.css" rel="stylesheet" />
}

<div class="container w-100 mx-auto">
    <div class="row w-100 mx-auto">
        <div class="form-wrap">
            <div class="tabsasas">
                <h3 style="color: #666;  background: #E4E4E4; padding: 19px;"
                    class="text-center signup-tab">
                    <span href="">  @ViewData["ForgetPasswordText"] </span>
                </h3>
                @*<h3 class="login-tab"><a class="active" href="#login-tab-content">@ViewData["Login"]</a></h3>*@

            </div><!--.tabs-->

            <div class="tabs-content mt-4" style="width:400px">
                <div id="login-tab-content" class="active">

                    <form asp-action="Login" id="LoginForm" class="login-form text-center">

                        <input type="hidden" name="Id" value="0" />
                        <input type="hidden" name="ReturnUrl" value="@ViewBag.returnUrl" />

                        <input type="hidden" name="UserReturnUrl" value="@ViewBag.UserReturnUrl" />
                        <input type="hidden" name="AdminReturnUrl" value="@ViewBag.AdminReturnUrl" />


                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input asp-for="Email" oninput="validate(this)" class="input text-center  py-3 my-2" id="user_login" autocomplete="off" placeholder="Emial...">
                        <span asp-validation-for="Email" class="text-danger w-10 d-block"> </span>

                        <input type="submit" id="loginSubmitButton" class="button btn" value="@ViewData["Send"]">
                    </form>
                    <!--.login-form-->
                    <div class="help-text mt-4">
                        <p><a asp-action="Login"> @ViewData["BackToLogin"] </a></p>
                    </div><!--.help-text-->
                </div><!--.login-tab-content-->
            </div><!--.tabs-content-->
        </div>
    </div>
</div>


<!--.tabs-->







@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/swal-alert/sweetalert.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js" integrity="sha512-eYSzo+20ajZMRsjxB6L7eyqo5kuXuS2+wEbbOkpaur+sA2shQameiJiWEzCIDwJqaB0a4a6tCuEvCOBHUg3Skg==" crossorigin="anonymous"></script>
    <script src="~/SinaCustom/js/main.js"></script>
    <script>
        var error = "";
        var  titleSuitAlert=""
        var submiSuitAlertText = ""
        var titleSuccessSuitAlert =""
            @if (CultureInfo.CurrentCulture.Name == PublicHelper.persianCultureName)
            {

                <text>

                    error = "خطا رخ داده است."
                    titleSuccessSuitAlert="انجام شد"
                    titleSuitAlert = "خطا"
                    submiSuitAlertText="باشه"
                </text>
            }
            else
            {
               <text>
                error = "An error has occurred."
                titleSuccessSuitAlert = "Done "
                titleSuitAlert = "error"
                submiSuitAlertText="ok"


             </text>
            }
    </script>


    <script>
        jQuery(document).ready(function ($) {
            tab = $('.tabs h3 a');

            tab.on('click', function (event) {
                event.preventDefault();
                tab.removeClass('active');
                $(this).addClass('active');

                tab_content = $(this).attr('href');
                $('div[id$="tab-content"]').removeClass('active');
                $(tab_content).addClass('active');
            });
        });




        //ForgetPassword
        $("#LoginForm").submit(function (e) {
            e.preventDefault();
            if (!$(this).valid()) {
                return;
            }
            $("#loginSubmitButton").prop('disabled', true);
            $.blockUI({ message: '<h1 class="text-center"><img src="/SinaCustom/img/Spinner-0.9s-58px.svg" />  </h1>' });

            $.ajax({
                method: "POST",
                url: '/Account/ForgetPassword',
                data: $('#LoginForm').serialize(),
                //contentType: "application/json; charset=utf-8",
                success: function (r) {
                    if (r.status) {
                        $("#loginSubmitButton").prop('disabled', false);


                        $.unblockUI();
                        SuccessAlert2(r.message, titleSuccessSuitAlert, submiSuitAlertText)

                    }
                    else {
                        $("#loginSubmitButton").prop('disabled', false);

                        //FailedAlert(r.message);
                        FailedAlert2(r.message, titleSuitAlert, submiSuitAlertText);
                        $.unblockUI();
                    }
                },
                error: function () {
                    $("#loginSubmitButton").prop('disabled', false);
                    $.unblockUI();
                    FailedAlert2(error, titleSuitAlert, submiSuitAlertText);
                }
            });
        })


    </script>
}


