@model Helper.ViewModels.LoginVm

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_landing.cshtml";

    var tabCondition = string.IsNullOrEmpty(ViewBag.ActiveTab) || (!string.IsNullOrEmpty(ViewBag.ActiveTab) && ViewBag.ActiveTab == "Login");
    var LoginActiveTabclassName = tabCondition ? "active" : "";
    var RegisterActiveTabclassName = !tabCondition ? "active" : "";

}


@section Styles {
    <link rel="stylesheet" href="~/hj/css/login.css" />
}

<div class="container w-100 mx-auto">
    <div class="row w-100 mx-auto">
        <div class="form-wrap">
            <div class="tabs">
                @if (tabCondition)
                {
                    <h3 class="signup-tab"><a href="#signup-tab-content">ثبت نام </a></h3>
                    <h3 class="login-tab"><a class="active" href="#login-tab-content">ورود</a></h3>
                }
                else
                {
                    <h3 class="signup-tab"><a class="active" href="#signup-tab-content">ثبت نام </a></h3>
                    <h3 class="login-tab"><a href="#login-tab-content">ورود</a></h3>
                }



            </div><!--.tabs-->

            <div class="tabs-content mt-4">


                <div id="signup-tab-content" class="@RegisterActiveTabclassName text-center">

                    <form asp-action="Register" class="ui error form signup-form">
                        @if (!string.IsNullOrEmpty(ViewBag.RegisterError))
                        {
                            <div class="alert alert-warning" role="alert">
                                @ViewBag.RegisterError
                            </div>
                        }


                        <input type="hidden" name="Id" value="0" />
                        <input type="hidden" name="ReturnUrl" value="@ViewBag.returnUrl" />


                        @*......._Username....... *@

                        <input placeholder="نام کاربری"
                               class="input text-center  py-3 my-2 mx-auto d-block"
                               type="text" data-val="true" data-val-maxlength="حداکثر 20 کاراکتر وارد کنید"
                               data-val-maxlength-max="20" data-val-minlength="حداقل 3 کاراکتر وارد کنید"
                               data-val-minlength-min="3" data-val-required="این فیلد الزامیست" id="zUsername"
                               maxlength="20" name="_Username" value="">

                        <span class="text-danger w-10 d-block field-validation-valid" data-valmsg-for="_Username" data-valmsg-replace="true"></span>


                        @*......._Email....... *@
                        <input placeholder="ایمیل"
                               class="input text-center  py-3 my-2 mx-auto d-block"
                               type="email" data-val="true" data-val-email="به فرمت  ایمیل وارد کنید"
                               data-val-maxlength="حداکثر 30 کاراکتر وارد کنید"
                               data-val-maxlength-max="30" data-val-required="این فیلد الزامیست" id="zEmail"
                               maxlength="30" name="_Email" value="">

                        <span class="text-danger w-10 d-block field-validation-valid" data-valmsg-for="_Email" data-valmsg-replace="true"></span>



                        @*......._password....... *@
                        <input placeholder="رمز عبور"
                               class="input text-center  py-3 my-2 mx-auto d-block"
                               type="password"
                               data-val="true" data-val-maxlength="حداکثر 20 کاراکتر وارد کنید"
                               data-val-maxlength-max="20" data-val-minlength="حداقل 6 کاراکتر وارد کنید"
                               data-val-minlength-min="6" data-val-required="این فیلد الزامیست"
                               id="zPassword" maxlength="20" name="_Password">

                        <span class="text-danger w-10 d-block field-validation-valid" data-valmsg-for="_Password" data-valmsg-replace="true"></span>


                        <input class="checkbox"
                               type="checkbox"
                               data-val="true"
                               data-val-required="این فیلد الزامیست"
                               name="AcceptRules"
                               id="AcceptRules"
                               value="true">

                        <label for="AcceptRules" class="pr-4 my-3 ">  قوانین را میپذیرم  </label>




                        <input type="submit" class="button" value="ثبت نام ">
                    </form>
                    <!--.login-form-->
                    <div class="help-text">
                        <p><a href="/account/login">  قبلا ثبت نام کرده ام !</a></p>
                    </div>
                    <!--.help-text-->
                    <hr />
                    <div class="row w-100 mx-auto text-center">
                        <p class="w-100 text-center">می توانید از سرویس گوگل برای ثبت نام استفاده کنید </p>

                    </div>
                    <div class="row w-100 mx-auto text-center">
                        <a href="#" class="mx-auto">
                            <img src="~/hj/img/google-icon.png" class="text-center mx-auto img-fluid" /><br />
                            <span class="text-center w-100">ثبت نام با گوگل</span>
                        </a>
                    </div>
                </div><!--.signup-tab-content-->




                <div id="login-tab-content" class="@LoginActiveTabclassName">



                    <form asp-action="Login" class="login-form text-center">
                        @if (!string.IsNullOrEmpty(ViewBag.Error))
                        {
                            <div class="alert alert-warning" role="alert">
                                @ViewBag.Error
                            </div>
                        }

                        <input type="hidden" name="Id" value="0" />
                        <input type="hidden" name="ReturnUrl" value="@ViewBag.returnUrl" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input asp-for="Username" class="input text-center  py-3 my-2" id="user_login" autocomplete="off" placeholder="نام کاربری ">
                        <span asp-validation-for="Username" class="text-danger w-10 d-block"> </span>

                        <input asp-for="Password" class="input text-center  py-3 my-2" id="user_pass" autocomplete="off" placeholder="رمز عبور">
                        <span asp-validation-for="Password" class="text-danger w-10 d-block"> </span>

                        <input asp-for="RememberMe" class="checkbox" id="remember_me">

                        <label for="remember_me" class="pr-4 my-3 "> مرا به خاطر بسپار</label>

                        <input type="submit" class="button" value="ورود">
                    </form>
                    <!--.login-form-->
                    <div class="help-text mt-4">
                        <p><a href="#">رمز عبور را فراموش کردید ؟  </a></p>
                    </div><!--.help-text-->
                </div><!--.login-tab-content-->
            </div><!--.tabs-content-->
        </div>
    </div>
</div>



<!--.tabs-->
@*-------*@



@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script>
        jQuery(document).ready(function ($) {
            tab = $('.tabs h3 a');

            tab.on('click', function (event) {
                event.preventDefault();
                tab.removeClass('active');
                $(this).addClass('active');

                tab_content = $(this).attr('href');
                $('div[id$="tab-content"]').removeClass('active');
                $(tab_content).addClass('active');
            });
        });
    </script>
}



