@model Helper.ViewModels.OtherUserProfileVM
@using Helper.Models.Enums;
@using System.Globalization;
@using  Helper.Models.Utilities
@using System.Security.Claims;

@{
    ViewData["Title"] = "پروفایل کاربر-خدمات";
    Layout = "~/Views/Shared/_landing.cshtml";
}





@section Styles{
    <link href="~/lib/swal-alert/sweetalert.css" rel="stylesheet" />
    <link href="~/StyleSheet.css" rel="stylesheet" />

    <style>
        [v-cloak] {
            display: none;
        }
    </style>

}

<div class="container mt-5">
    <div class="row w-100 mx-auto ">
        <div class="col-md-2 col-12 text-center text-md-right">
            <img src="~/hj/img/img profile.png" class="img-fluid" />
        </div>
        <div class="col-md-7 col-12 text-center mx-auto">
            <div class="row w-100 pt-3 text-center text-md-right  d-block pr-md-2">

                @if (!string.IsNullOrEmpty(Model.Nickname))
                {
                    <h5>@Model.Nickname</h5> ;
                }
                else
                {
                    <h5>@Model.UserName</h5>;
                }

            </div>
            <div class="row w-100 mx-auto text-center text-md-right  d-block "><h6 class="text-justify hj-detalis-userProfile ">   @Model.Descriptions   </h6></div>
        </div>
        <div class="col-md-3 col-12 mx-auto mt-2">
            <div class="row w-100 mx-auto  "><button type="button" class="btn btn-success w-100 py-3 btn-profileUser">  @ViewData["RequestService"]</button></div>
            <div class="row w-100 pt-3 mx-auto"><button type="button" class="btn btn-success py-3 w-100 btn-profileUser-send">  @ViewData["SendMsg"]</button></div>
        </div>
    </div>
    <div class="row w-100 mx-auto hj-skill mt-5 py-3">
        @{

            var skills = Model.SKILLS;
            if (!string.IsNullOrEmpty(skills))
            {
                var listLanguage = skills.Split(',');
                foreach (var item in listLanguage)
                {
                    <div class="col-md-2 col-sm-3 col-12   py-1">
                        <button type="button" class="btn  w-100 button-Service">@item</button>
                    </div>
                }
            }
        }



    </div>
</div>

<input type="hidden" name="userId" id="userId" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)" />

<div class="contanier w-100">
    <!-- Tabs -->
    <section id="tabs">
        <div class="container p-0 m-0 mx-auto">

            <div class="row w-100 mx-auto">
                <div class="col-xs-12 p-0 m-0 " id="root" v-cloak>
                    <input type="hidden" name="username" id="username" value="@Model.UserName" />
                    <nav>
                        <div class="nav nav-tabs nav-fill p-0 m-0 w-100" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link  w-50" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">  @ViewData["Services"]</a>
                            <a class="nav-item nav-link active w-50" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">@ViewData["Resume2"]</a>
                        </div>
                    </nav>

                    <div class="tab-content py-3 px-sm-0 pt-md-4 mt-md-3" id="nav-tabContent">
                        <div class="tab-pane fade " id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            @*---------------------------*@
                            <div class="row w-100 mx-auto " v-if="services && !servicesLoading">
                                <div v-for="service in services" :key="service.Id" class="col-lg-3 col-sm-6 col-12 py-md-5 my-3 py-lg-0 my-lg-0">
                                    <div class=" hj-profile mx-auto my-4">
                                        <div class="row w-100 mx-auto  py-3">
                                            <div class="col-12 pt-2">
                                                <h3 class="text-center w-100">{{service.title}} </h3>
                                            </div>
                                            <div class="col-12 pt-2">
                                                <h6 class="text-center w-100 text-justify height-120"
                                                    data-toggle="tooltip"
                                                    data-placement="top"
                                                    v-bind:title="service.description">
                                                    {{toShortString(service.description,120)}}
                                                </h6>
                                            </div>

                                            <div class="col-12 pt-3">
                                                <h4 class="text-center w-100">
                                                    <img src="~/hj/img/home-alt-3.png" class="img-fluid" />
                                                </h4>
                                            </div>
                                            <div class="col-12 pt-4 pb-2 footer-titr">
                                                <h5 class="text-center w-100 hj-work"> {{service.categoryName}} </h5>
                                            </div>

                                        </div>

                                        <div class="row w-100 p-0 m-0 hj-option-card text-center pb-4">
                                            <div class="col-4 p-0 m-0">


                                                <i v-if="likeLoading && selectedService?.id === service.id"
                                                   class="fa fa-spinner fa-spin  fa-fw pl-2">
                                                </i>
                                                <i v-else v-bind:class="[ service.isLiked  == true ? 'far fa-heart pl-2 fas' : 'far fa-heart pl-2 ']"
                                                   @@click="toggleLike(service.id)">
                                                </i>
                                                <span class="hj-like">
                                                    <br />
                                                    {{getPriceFormat(service.likeCount.toString())}}
                                                </span>
                                            </div>
                                            <div class="col-4 p-0 m-0"><i class="fa fa-comments  pl-2"></i><span class="hj-like"><br />{{getPriceFormat(service.commentCount.toString())}}</span></div>
                                            <div class="col-4 p-0 m-0"><i class="fa fa-eye  pl-2"></i><span class="hj-like"><br />{{getPriceFormat( service.seenCount.toString())}}</span></div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div v-else class="row w-100 mx-auto d-block text-center">loading...</div>


                            @*--------pagination----*@
                            <div class="row w-100 mx-auto">
                                <div class="pagination-wrapper mx-auto">
                                    <div class="pagination _direction">
                                        <a @@click="setPrevPage()" class=" page-numbers">@ViewData["Prev"]</a>
                                        @*<span aria-current="page" class="page-numbers current">1</span>*@
                                        <a v-for="(item ,index) in countForLoopPAgination"
                                           :key="index"
                                           @@click="setPage(item - 1)"
                                           v-bind:class="[index === page ? 'page-numbers current' : 'page-numbers']">
                                            {{item }}
                                        </a>

                                        <a @@click="setNextPage()" class=" page-numbers">@ViewData["Next"]</a>
                                    </div>
                                </div>
                            </div>
                        </div>



                        -@*------dashbord-----*@
                        <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

                            <div class="row w-100 mx-auto mt-5">
                                <div class="col-12 text-right">

                                    @if (!string.IsNullOrEmpty(Model.Nickname))
                                    {
                                        <h3>@Model.Nickname</h3> ;
                                    }
                                    else
                                    {
                                        <h3>@Model.UserName</h3>;
                                    }
                                </div>
                                <div class="col-12">
                                    <img src="/hj/img/borderbig green.png" class="img-fluid">
                                </div>
                            </div>
                            <div class="row w-100 mx-auto mt-5">
                                <h6 class="text-right pr-3">  @ViewData["Position"]  </h6>
                            </div>
                            <hr />
                            <div class="row w-100 pt-3">
                                <h5 class="pr-4">مشاور املاک؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟</h5>
                            </div>
                            <div class="row w-100 text-justify">
                                <h6 class="line-27 pr-4">    ؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟؟ </h6>
                            </div>
                            <hr />
                            <div class="row w-100 mx-auto mt-5">
                                <h6 class="text-right pr-3">   @ViewData["Resume"] </h6>
                            </div>
                            <hr />
                            <div class="row w-100 mx-auto text-right">
                                <h5 class="pr-4">   @ViewData["Resume"]</h5>
                            </div>
                            <div class="row w-100 mx-auto text-right">
                                <div class="col-md-2 col-12"><h6><b>  @ViewData["Office"] </b></h6></div>
                                <div class="col-md-4  col-0"></div>
                            </div>

                            <div class="row w-100 mx-auto text-right">
                                <div class="col-md-2 col-12"><h6><b>   @ViewData["from"]  </b></h6></div>
                                <div class="col-md-2  col-3"> <h6> @Model.WorkEnterDate   </h6></div>
                                <div class="col-md-4  col-0"></div>
                            </div>

                            <div class="row w-100 mx-auto text-right">
                                <div class="col-md-2 col-12"><h6><b>  @ViewData["to"]</b></h6></div>
                                <div class="col-md-2  col-3"><h6> @Model.WorkExitDate </h6></div>
                                <div class="col-md-4  col-0"></div>
                            </div>


                            <div class="row w-100 mx-auto text-right">
                                <div class="col-md-2 col-6"><h6><b> @ViewData["Position"]</b></h6></div>
                                <div class="col-md-2 col-6"><h6>@Model.Semat</h6></div>
                                <div class="col-md-8 col-0"></div>
                            </div>
                            <div class="row w-100 text-justify">
                                <h6 class="line-27 pr-4"> @Model.WorkDescriptions  </h6>
                            </div>
                            <hr />
                            <div class="row w-100 mx-auto mt-5">
                                <h6 class="text-right pr-3">   @ViewData["AcademicRecords"] </h6>
                            </div>
                            <hr />
                            <div class="row w-100 pt-3">
                                <h5 class="pr-4">    @ViewData["AcademicRecords"]</h5>
                            </div>
                            <div class="row w-100 mx-auto text-right">
                                <div class="col-md-2 col-12"><h6><b>@ViewData["GradePL"]  </b></h6></div>
                                <div class="col-md-2  col-3"> <h6>@Model.Semat</h6></div>
                                @*<div class="col-md-2  col-3"><h6>   @Model.EduEnterDate </h6></div>
                                    <div class="col-md-2  col-3"><h6>سال 2</h6></div>*@
                                <div class="col-md-4  col-0"></div>
                            </div>
                            <div class="row w-100 mx-auto text-right">
                                <div class="col-md-2 col-6"><h6><b>  @ViewData["from"]</b></h6></div>
                                <div class="col-md-2 col-6"><h6> @Model.EduEnterDate </h6></div>
                                <div class="col-md-8 col-0"></div>
                            </div>
                            <div class="row w-100 mx-auto text-right">
                                <div class="col-md-2 col-6"><h6><b>@ViewData["to"]  </b></h6></div>
                                <div class="col-md-2 col-6"><h6>     @Model.EduExitDate</h6></div>
                                <div class="col-md-8 col-0"></div>
                            </div>
                            <div class="row w-100 mx-auto text-right">
                                <div class="col-md-2 col-6"><h6><b>   @ViewData["UniverCityName"]</b></h6></div>
                                <div class="col-md-2 col-6"><h6>   @Model.UnivercityName</h6></div>
                                <div class="col-md-8 col-0"></div>
                            </div>
                            <hr />
                            <div class="row w-100 mx-auto mt-5">
                                <h6 class="text-right pr-3">  @ViewData["Skills"] </h6>
                            </div>
                            <hr />
                            <div class="row w-100 pt-3">
                                <h5 class="pr-4">   @ViewData["Skills"]</h5>
                            </div>
                            <div class="row w-100 text-justify mx-auto hj-degree pt-5 _flot-postion">
                                @{

                                    var skillss = Model.SKILLS;
                                    if (!string.IsNullOrEmpty(skillss))
                                    {
                                        var listLanguage = skillss.Split(',');
                                        foreach (var item in listLanguage)
                                        {
                                            <div class="col-md-2 col-12 py-2"> <button type="button" class="btn  w-100 button-Service">@item</button></div>
                                        }
                                    }
                                }

                            </div>
                            <hr />
                            <div class="row w-100 mx-auto mt-5">
                                <h6 class="text-right pr-3 pt-4"> @ViewData["OtherInfo"] </h6>
                            </div>
                            <hr />
                            <div class="row w-100 pt-3">
                                <h5 class="pr-4">    @ViewData["OtherInfo"] </h5>
                            </div>

                            <div class="row w-100 mx-auto text-right">
                                <div class="col-md-2 col-6"><h6><b>    @ViewData["BirthDate"]</b></h6></div>
                                <div class="col-md-2 col-6"><h6>    @Model.Birthdate </h6></div>
                                <div class="col-md-8 col-0"></div>
                            </div>
                            <div class="row w-100 mx-auto text-right ">
                                <div class="col-md-2 col-6"><h6><b> @ViewData["GenderPL"]</b></h6></div>
                                <div class="col-md-2 col-6">
                                    <h6>
                                        @if (CultureInfo.CurrentCulture.Name == PublicHelper.persianCultureName)
                                        {
                                            <text> @Model.Gender.GetEnumDescription()</text>
                                        }
                                        else
                                        {
                                            if (Model.Gender == UserGender.Man)
                                            {
                                                <text>man</text>
                                            }
                                            else
                                            {
                                                <text>woman</text>
                                            }
                                        }

                                    </h6>

                                </div>
                                <div class="col-md-8 col-0"></div>
                            </div>
                            <div class="row w-100 mx-auto text-right">
                                <div class="col-md-2 col-6"><h6><b>   @ViewData["SituationPL"] </b></h6></div>
                                <div class="col-md-2 col-6">
                                    <h6>
                                        @if (CultureInfo.CurrentCulture.Name == PublicHelper.persianCultureName)
                                        {
                                            <text> @Model.MarriedType.GetEnumDescription()</text>
                                        }
                                        else
                                        {
                                            if (Model.MarriedType == UserMarriedType.Married)
                                            {
                                                <text> married</text>

                                            }
                                            else
                                            {
                                                <text>single</text>

                                            }
                                        }

                                    </h6>
                                </div>
                                <div class="col-md-8 col-0"></div>
                            </div>
                            <div class="row w-100 mx-auto text-right">
                                <h6><b>@ViewData["LanguageKnowing"]:    </b></h6>
                            </div>
                            <div class="row w-100 mt-4 mx-auto  _flot-postion ">
                                @{
                                    var languages = Model.LanguageKnowing;
                                    if (!string.IsNullOrEmpty(languages))
                                    {
                                        var listLanguage = languages.Split(',');
                                        foreach (var item in listLanguage)
                                        {
                                            <div class="col-md-2 col-12 py-2"> <button type="button" class="btn  w-100 button-Service">@item</button></div>
                                        }
                                    }
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- ./Tabs -->

</div>





@section Scripts{

    <script src="~/lib/vuejs/vue.min.js"></script>
    <script src="~/lib/axios/dist/axios.min.js"></script>
    <script src="~/lib/swal-alert/sweetalert.min.js"></script>

    <script src="~/SinaCustom/js/main.js"></script>
    <script>

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()

            $('#cover-spin').show(0)
        })


        let username = $("#username").val();

        var vue = new Vue({
            el: "#root",
            data: {
                services: null,
                servicesLoading: true,
                showList: false,

                likeLoading: false,
                selectedService: null,

                //data for pagination filter search ,...
                serviceCount: 0,
                //این تعداد ایتم های صفحس
                limit: 8,
                page: 0,

            },

            methods: {
                toggleShowList: function () {
                    this.showList = !this.showList;
                },
                toggleLike: function (serviceId) {

                    var UserId = $("#userId").val();

                    if (!UserId) {
                        FailedAlert("برای لایک کردن محصولات ابتدا لاگین کنید.");
                        return
                    }

                    this.likeLoading = true;
                    this.selectedService = this.services.find(c => c.id == serviceId)
                    var vueInstance = this;


                    axios.get(`/services/ToggleLike?serviceId=${serviceId}`)
                        .then(function (response) {
                            console.log(response)

                            ///////////////////    ائو ایتم  خواص را برو تغییر بده لایک را   ////////////
                            //vueInstance.services = response.data.Status;
                            if (response.data.status) {
                                console.log(vueInstance)
                                var currentService = vueInstance.services.find(c => c.id == serviceId)
                                currentService.isLiked = response.data.isLiked;
                                currentService.likeCount = response.data.likeCount;
                            }
                            else {
                                FailedAlert(response.data.message)
                            }
                            //vueInstance.serviceCount = response.data.data.count;
                        }).catch(function (er) {
                            console.log(er)
                            FailedAlert('خطا در لایک')
                        }).finally(function () {
                            vueInstance.servicesLoading = false;
                            vueInstance.likeLoading = false;
                        });
                },

                getListemService: async function () {
                    var vueInstance = this;
                    this.servicesLoading = true;
                    var params = this.axiosParams;

                    axios.get(`/Services/UsersService/${username}`, { params: params })
                        .then(function (response) {
                            console.log(response)
                            vueInstance.services = response.data.data.services;
                            vueInstance.serviceCount = response.data.data.count;
                        }).catch(function (er) {
                            console.log(er)
                            FailedAlert('خطا در نمایش سرویس')
                        }).finally(function () {
                            vueInstance.servicesLoading = false;
                        });

                },

                setPage: function (value) {
                    //this.page = value;
                    if (this.page === value)
                        return
                    //fetch new data from sever
                    this.page = value;
                    this.getListemService();
                },
                setPrevPage: function () {
                    console.clear()
                    console.log("total apges prev", vue.totalPages)
                    console.log("page, prev", vue.page)

                    if (this.page != 0) {
                        this.page--;
                        this.getListemService();
                    }
                },
                setNextPage: function () {

                    console.clear()
                    console.log("total apges", vue.totalPages)
                    console.log("page", vue.page)
                    if (this.totalPages === 0)
                        return
                    if (this.totalPages != 0 && this.page + 1 != this.totalPages) {
                        this.page++;
                        this.getListemService();
                    }
                },
                isLastPage: function () {
                    if (this.page + 1 == this.totalPages)
                        return true
                    return false;
                },
            },
            mounted: function () {
                //fetch data from sever
                this.getListemService();
            },
            computed: {
                totalPages: function () {
                    return Math.ceil(this.serviceCount / this.limit);
                },
                countForLoopPAgination: function () {
                    return this.totalPages == 0 ? 1 : this.totalPages;
                },
                axiosParams: function () {
                    var params = new URLSearchParams();
                    params.append('username', String(username))
                    params.append('limit', String(this.limit));
                    params.append('offset', `${this.page ? this.page * this.limit : 0}`);
                    return params;
                }
            },
            watch: {
                serviceCount: function () {
                    this.totalPages;
                }
            }
        })






    </script>

}



